{{#have_error}}
<div class="card">
  <div class="card-header">
    <h4>❌ {{#str}} createdData_errorTitle, block_externalsync {{/str}}</h4>
  </div>
  <div class="card-body">
    <p>{{#str}} createdData_errorMsg, block_externalsync, {{ type }}{{/str}}</p>
    {{{ error }}}
  </div>
</div>
<br>
{{/have_error}}

{{#have_updated}}
<div class="card">
  <div class="card-header">
    <h4>🔄 {{#str}} createdData_updatedTitle, block_externalsync {{/str}}</h4>
  </div>
  <div class="card-body">
    <p>{{#str}} createdData_updatedMsg, block_externalsync, {{ type }} {{/str}}</p>
    {{{ updated }}}
  </div>
</div>
<br>
{{/have_updated}}

{{#have_created}}
<div class="card">
  <div class="card-header">
    <h4>✅ {{#str}} createdData_createdTitle, block_externalsync {{/str}}</h4>
  </div>
  <div class="card-body">
    <p>{{#str}} createdData_createdMsg, block_externalsync, {{ type }} {{/str}}</p>
    {{{ created }}}
  </div>
</div>
<br>
{{/have_created}}

<a type="button" class="btn btn-primary" href="{{ return_url }}">{{#str}} button_return, block_externalsync {{/str}}</a>